<!DOCTYPE HTML>
<html>
<head>
  <title>Sample app</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="/assets/sample.js"></script>
  <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Welcome</h1>
  <p> You can start typing here... </p>
  <div id="sample">
    <form method="post">
  <input type="text" name="words" id="words" placeholder="Type..." required/>
  <button type="submit" value='submit'> Add String </button>
  </form>
  <ul>
    <% for(var i=0;i< datawords.length; i++){ %>
      <li><%=datawords[i].words%></li>
    <% } %>
  </ul>

</body>
</html>
